button {
    width: 100%;
    background-color: #8819f5;
    color: white;
    border: none;
    padding: 0.5rem;
    transition: all ease 0.5s;
    cursor: pointer;

    &:hover {
        background-color: #7514d7;
    }
}